body{
  width:1006px;
  margin:0 auto;
}
/*error message container (S T A R T)*/

.error_message
{
	font-size:10px;
	color:#ff0000;
	font-weight:normal;
}

/*error message container (S T O P)*/


/*services offered form (S T A R T)*/

#services_offered_table
{
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
}
#services_offered_table > thead
{
	display:block;
}
#services_offered_table > tbody
{
	display: block;
	width: 1025px;
	height: 402px;
	overflow: auto;
	scrollbar-arrow-color: #ff6600;
	scrollbar-track-color: #FFC59D;
	scrollbar-face-color: #ff6600;
	scrollbar-shadow-color: #ff6600;
}
#services_offered_table > thead > tr > th
{
	background:#FFDB97;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:11px 0px;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	color:#C14E00;
	border-bottom:solid 1px #ad9b7a;
}
#services_offered_table > thead > tr > th:nth-child(1)
{
	text-align:left;
}
#services_offered_table > thead > tr > th:nth-child(7)
{
	padding-right:7px;
}
#services_offered_table > tbody > tr > td
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	padding:10px 0;
	border-bottom:solid 1px #dddddd;
}
#services_offered_table > tbody > tr > td:nth-child(1)
{
	text-align:left;
}
#services_offered_table > tbody > tr > td:nth-child(2)
{
	padding:10px 5px;
}
#services_offered_table > tbody > tr > td:nth-child(7)
{
	padding-right:7px;
}
#services_offered_table > tbody > tr > td:nth-child(1)
{
	width: 33px;
}
#services_offered_table > tbody > tr > td:nth-child(2)
{
	width: 117px;
}
#services_offered_table > tbody > tr > td:nth-child(3)
{
	width: 99px;
}
#services_offered_table > tbody > tr > td:nth-child(4)
{
	width: 135px;
}
#services_offered_table > tbody > tr > td:nth-child(5)
{
	width: 318px;
}
#services_offered_table > tbody > tr > td:nth-child(6)
{
	width: 169px;
}
#services_offered_table > tbody > tr > td:nth-child(7)
{
	width: 118px;
}
#services_offered_table > tbody > tr:last-child > td
{
	border-bottom:solid 2px #d0d0d0;
}
#services_offered_table ::-webkit-scrollbar {
	width: 12px;
	border:solid 2px #FFC59D;
}
#services_offered_table ::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	background:#FFC59D;
}
#services_offered_table ::-webkit-scrollbar-thumb:window-inactive {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	background:#FFC59D;
}
#services_offered_table > tbody > tr
{
	pointer-events:none;
	background:#FFFBF2;
}
#services_offered_table input[type="checkbox"]
{
	margin-left:10px;
	pointer-events:auto;
	width:20px;
	height:20px;
}
#services_offered_table .number_spinner
{
	width:40px;
	height:25px;
	border:solid 1px #cccccc;
	padding:0 10px;
	border-radius:2px;
}
#services_offered_table .number_spinner:focus
{
	outline:none;
	border-color:#FFC59D;
	box-shadow:0 0 10px #FFC59D;
}
.button_like_link
{
	background:#fff0d7;
	border:solid 1px #fff0d7;
	color:#E85C00;
	border-radius:5px;
	cursor:pointer;
	padding:1px 6px;
	margin-bottom:6px;
	text-decoration:none;
	display:inline-block;
	font-size:13px;
}
a.button_like_link:last-child
{
	margin-bottom:0px;
}
.service_availability_table
{
	border-collapse:collapse;
	margin:auto;
}
.service_availability_table th
{
	border:none;
	background:#fff0d7;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:5px 0px;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	color:#E85C00;
	border-bottom:solid 1px #6D2C00;
}
.service_availability_table th:nth-child(1)
{
	padding-left:10px;
}
.service_availability_table td
{
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0px 5px;
	border-bottom:solid 1px #dddddd;
}
.service_availability_table td:nth-child(1)
{
	padding-left:10px;
}
.service_availability_table td:nth-child(5) img
{
	vertical-align:middle;
}
.service_availability_table td:nth-child(5)
{
	border-bottom:none;
}
.service_availability_table tr:last-child td
{
	border-bottom:inset 2px #C14E00;
}
.service_availability_table tr:last-child td:nth-child(5)
{
	border-bottom:none;
}
.service_availability_table .time_spinner
{
	width:56px;
	height:25px;
	border:solid 1px #cccccc;
	padding:0 10px;
	border-radius:2px;
}
.service_availability_table .time_spinner:focus
{
	outline:none;
	border-color:#FFC59D;
	box-shadow:0 0 10px #FFC59D;
}

/*services offered form (S T O P)*/


/*spinners (S T A R T)*/

.ui-state-default, .ui-widget-content .ui-state-default
{
	padding:0;
}
.ui-widget-content
{
	background:none;
	border-color:#dddddd;
}

/*spinners (S T O P)*/


/*fake height of 15px used in services offered and payment facilities (S T A R T)*/

.div_height_15
{
	height:15px;
}

/*fake height of 15px used in services offered and payment facilities (S T O P)*/


/*modal for slot and description viewer (S T A R T)*/

.modal_window
{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.8);
	opacity:0;
	pointer-events:none;
	transition:opacity 400ms ease-in;
	z-index:2;
}
.modal_window:target
{
	opacity:1;
	pointer-events:auto;
}

/*modal for slot and description viewer (S T O P)*/


/*slot viewer (S T A R T)*/

#slot_viewer,#service_description_viewer
{
	border:solid 2px #696969;
	border-radius:10px;
	box-shadow:0 0 4px #fff;
	padding:30px 20px 20px 20px;
	margin:10% auto;
	width:500px;
	height:324px;
	font-family:Arial, Helvetica, sans-serif;
	background:#FDFDFD;
	color:#333333;
	background: -moz-linear-gradient(#ddd, #FDFDFD);
	background: -webkit-linear-gradient(#ddd, #FDFDFD);
	background: -o-linear-gradient(#ddd, #FDFDFD);
}
.close
{
	float:right;
	border:solid 2px #fff;
	padding:2px 6px;
	border-radius:25px;
	position:relative;
	top:-40px;
	left:30px;
	background:#9A9A9A;
	font-size:16px;
	color:#fff;
	box-shadow:1px 1px 2px #333;
	text-decoration:none;
	outline:none;
}
.close:hover
{
	background:#FF7B24;
}
#slot_viewer_heading,#service_description_viewer_heading
{
	font-size:16px;
	margin-bottom:30px;
}
#slot_viewer_slot_selection_and_description
{
	font-size:14px;
	margin-bottom:12px;
}
#slot_viewer_service_name, #slot_viewer_slot_capacity, #slot_viewer_service_time, #service_description_viewer_service_name
{
	font-weight:bold;
}
#slot_viewer select
{
	height:27px;
	border: 1px solid #cccccc;
	border-radius:2px;
	padding:4px 6px 3px;
	margin-bottom:4px;
}
#slot_viewer select:focus,#service_description_viewer textarea:focus
{
	outline:none;
	border-color:#9A9A9A;
	box-shadow:0 0 10px #9A9A9A;
}
.slot_viewer_slot_table
{
	/*width:254px;*/ /*required when you have a scroller*/
	border-collapse:collapse;
}
.slot_viewer_slot_table th
{
	background:#333333;
	border-bottom:solid 1px #333;
	color:#ffffff;
	font-size:14px;
	padding:5px 0px;
}
.slot_viewer_slot_table td
{
	border-bottom:solid 1px #333;
	font-size:13px;
	text-align:center;
}
.slot_viewer_slot_table > tbody > tr:last-child td
{
	border-bottom:solid 2px #333;
}
.slot_viewer_slot_table td:nth-child(1)
{
	text-align:left;
	padding-left:9px;
}
.slot_viewer_slot_table tbody, .slot_viewer_slot_table thead
{
	display: block;
}
.slot_viewer_slot_table tbody
{
	overflow: auto;
	height: 172px;
	scrollbar-arrow-color: #333;
	scrollbar-track-color: #fff;
	scrollbar-face-color: #333;
	scrollbar-shadow-color: #333;
}
.slot_viewer_slot_table td:nth-child(1)
{
	width:62px;
}
.slot_viewer_slot_table td:nth-child(2)
{
	width:82px;
}
.slot_viewer_slot_table td:nth-child(3)
{
	width:77px;
}
.slot_viewer_slot_table ::-webkit-scrollbar {
	width: 8px;
	border:solid 1px #333;
}
.slot_viewer_slot_table ::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	background:#333;
}
.slot_viewer_slot_table ::-webkit-scrollbar-thumb:window-inactive {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   
	background:#333;
}
#slot_viewer_error
{
	text-align:center;
	font-size:14px;
	position:relative;
	top:85px;
	display:none;
}

/*slot viewer (S T O P)*/


/*service description viewer (S T A R T)*/

#service_description_viewer textarea
{
	width:478px;
	height:112px;
	resize:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border: 1px solid #cccccc;
	border-radius:2px;
	padding:6px 10px 8px;
}
#service_description_viewer textarea:disabled
{
	background:#F7F7F7;
}
#service_description_viewer_characters_left_container
{
	font-size:12px;
	color:#7f7f7f;
	text-align:right;
	margin-bottom:12px;
}
#service_description_viewer_characters_left
{
	font-size:13px;
	color:#333333;
	font-weight:bold;
}
.service_description_viewer_button
{
	width:72px;
	height:30px;
	background-color:#333333;
	border:none;
	color:#fff;
	float:right;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
	outline:none;
	margin-left:5px;
}
.service_description_viewer_button:active
{
	width:68px;
	height:28px;
	position:relative;
	right:2px;
	top:1px;
	box-shadow:0 0 10px #9A9A9A;
	font-size:15px;
}
#service_description_viewer button:nth-child(5):active/*save button*/
{
	margin-left:9px;
}
/*service description viewer (S T O P)*/
